<section class="components">
    <div class="components-container container">
        <h2 class="components-heading">IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
        <p class="components-paragraph">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
        <ul class="components-list">
            <li class="components-item">
                 <a class="components-link">
                    <div class="components-img-container">
                        <img class="components-img" src="" >
                        <h3 class="components-paragraph">MILK CHOCOLATE</h3>
                    </div>
                    <div class="components-description-container">
                        <h3 class="components-description-heading">MILK CHOCOLATE</h3>
                        <span>chocolate</span>
                        <span>the benefits</span>
                        <p>Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                    </div>
                </a>
            </li>
            <li class="components-item">
                 <a class="components-link">
                    <div class="components-img-container">
                        <img class="components-img" src="" >
                        <h3 class="components-paragraph">MILK</h3>
                    </div>
                    <div class="components-description-container">
                        <h3 class="components-description-heading">MILK</h3>
                        <span>milk</span>
                        <span>the benefits</span>
                        <p>Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains..</p>
                    </div>
                </a>
            </li>
            <li class="components-item">
                 <a class="components-link">
                    <div class="components-img-container">
                        <img class="components-img" src="" >
                        <h3 class="components-paragraph">NUTS</h3>
                    </div>
                    <div class="components-description-container">
                        <h3 class="components-description-heading">NUTS</h3>
                        <span>nuts</span>
                        <span>the benefits</span>
                        <p>Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They&#39;re a good source of fiber, healthy fats, and plant protein. Plus, they&#39;re..</p>
                    </div>
                </a>
            </li>
            <li class="components-item">
                 <a class="components-link">
                    <div class="components-img-container">
                        <img class="components-img" src="" >
                        <h3 class="components-paragraph">SEMI - SWEET CHOCOLATE</h3>
                    </div>
                    <div class="components-description-container">
                        <h3 class="components-description-heading">SEMI - SWEET CHOCOLATE</h3>
                        <span>sweet chocolate</span>
                        <span>the benefits</span>
                        <p>Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk..</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
