<section class="our-products">
  <div></div>
      <h2 class="products-title">OUR <span class="products-span">PRODUCTS</span></h2>
      <ul class="products-list list">
          <li class="products-list-item">
              <img src="" width="230" height="201">
              <h3 class="product-name">ORANGE</h3>
              <p class="product-type">Dark chocolate</p>
              <button type="button" class="products-button">45 UAH</button>
          </li>
          <li class="products-list-item">
              <img src="" width="230" height="201">
              <h3 class="product-name">APPLE&CRANBERRY</h3>
              <p class="product-type">Milk chocolate</p>
              <button type="button" class="products-button">50 UAH</button>
          </li>
          <li class="products-list-item">
              <img src="" width="230" height="201">
              <h3 class="product-name">LIME&SEA SALT</h3>
              <p class="product-type">Dark chocolate</p>
              <button type="button" class="products-button">66 UAH</button>
          </li>
          <li class="products-list-item">
              <img src="" width="230" height="201">
              <h3 class="product-name">PINEAPPLE</h3>
              <p class="product-type">Dark chocolate</p>
              <button type="button" class="products-button">54 UAH</button>
          </li>
      </ul>
</section>